#########################################################################################################
##	This is an example .gitignore file for Vivado, please treat it as an example as 
##	it might not be complete. In addition, XAPP 1165 should be followed.
#########################################################################################################
#########
#Exclude all
#########
*
!*/
!.gitignore
###########################################################################
##	VIVADO
###########################################################################
#########
#Source files:
#########
#Do NOT ignore VHDL, Verilog, block diagrams or EDIF files.
!*.vhd
!*.v
!*.bd
!*.edif
#########
#IP files
#########
#.xci: synthesis and implemented not possible - you need to return back to the previous version to generate output products
#.xci + .dcp: implementation possible but not re-synthesis
#*.xci(www.spiritconsortium.org)
!*.xci
#*.dcp(checkpoint files)
!*.dcp
!*.vds
!*.pb
#All bd comments and layout coordinates are stored within .ui
!*.ui
!*.ooc
#########
#System Generator
#########
!*.mdl
!*.slx
!*.bxml
#########
#Simulation logic analyzer
#########
!*.wcfg
!*.coe
#########
#MIG
#########
!*.prj
!*.mem
#########
#Project files
#########
#XPR  +  *.XML ? XPR (Files are merged into a single XPR file for 2014.1 version)
#Do NOT ignore *.xpr files
!*.xpr
#Include *.xml files for 2013.4 or earlier version
!*.xml
#########
#Constraint files
#########
#Do NOT ignore *.xdc files
!*.xdc
#########
#TCL - files
#########
!*.tcl
#########
#Journal - files
#########
!*.jou
#########
#Reports
#########
!*.rpt
!*.txt
!*.vdi
#########
#C-files
#########
!*.c
!*.h
!*.elf
!*.bmm
!*.xmp
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.cache/wt/project.wpc
Vending_Machine_SED_VHDL/vivado.log
*.wpc
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.cache/wt/java_command_handlers.wdf
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.cache/wt/webtalk_pa.xml
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/compile.bat
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/compile.log
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/elaborate.bat
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/elaborate.log
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/simulate.bat
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/simulate.log
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/Timer_tb_behav.wdb
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/xelab.pb
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/xsim.dir/Timer_tb_behav/obj/xsim_0.win64.obj
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/xsim.dir/Timer_tb_behav/webtalk/.xsim_webtallk.info
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/xsim.dir/Timer_tb_behav/webtalk/.xsim_webtallk.info
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/xsim.dir/Timer_tb_behav/webtalk/xsim_webtalk.tcl
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/xsim.dir/Timer_tb_behav/xsim.dbg
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/xsim.dir/Timer_tb_behav/xsim.mem
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/xsim.dir/Timer_tb_behav/xsim.rlx
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/xsim.dir/Timer_tb_behav/xsim.rtti
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/xsim.dir/Timer_tb_behav/xsim.type
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/xsim.dir/Timer_tb_behav/xsim.xdbg
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/xsim.dir/Timer_tb_behav/xsimk.exe
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/xsim.dir/Timer_tb_behav/xsimkernel.log
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/timer.vdb
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/timer_tb.vdb
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/xil_defaultlib.rlx
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/xvhdl.log
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/xvhdl.pb
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/webtalk.jou
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/webtalk.log
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/webtalk_13720.backup.jou
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/webtalk_8900.backup.jou
Vending_Machine_SED_VHDL/vivado.jou
*.jou
*.log
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/counter_tb.tcl
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/counter_tb_vhdl.prj
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/xsim.dir/counter_tb_behav/Compile_Options.txt
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/xsim.dir/counter_tb_behav/obj/xsim_1.c
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/xsim.dir/counter_tb_behav/TempBreakPointFile.txt
Vending_Machine_SED_VHDL/Vending_Machine_SED_VHDL.sim/sim_1/behav/xsim/xsim.dir/counter_tb_behav/xsim.mem
